body {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 3fr 1fr;
}

header {
    height: 33.3vh;
    background-color: rgb(74, 195, 235);
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

nav {
    background-color: #b3d8fd;
    grid-column: 2;
    grid-row: 2;
    height: 3vh;
}

main {
    height: 33.3vh;
    background-color: rgb(98, 143, 171);
    grid-column: 1;
}

aside {
    grid-column: 2;
    background-color: rgb(17, 100, 188);
}

footer{
    height: 33.3vh;
    background-color: rgb(141, 185, 212);
    grid-column: 1/-1;
}

/* code gemaakt door de lector

body {
    min-height: 100vh;
    display: grid;
    grid-template-colums: auto 20%;
    grid-template-area:
}

header {
    grid-area: header;
    backgroundcolor: blauw;
    display: grid;
    grid-template-colums: auto 250px;
}

nav {
    backgroundcolor: blue;
    align-self: center;
}

main {
    grid-area: main
}